.form-container {
    
}

input[type="text"]{
    width: 100%;
    display: block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-width: thin;
    padding: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="checkbox"] {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

input::placeholder {
    padding-left: 5px;
}

.register-btn {
    display: block;
    margin-top: 10px;
}

